<!DOCTYPE html>
<html lang="tr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <!--font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Ozel css dosyamız -->
  <link rel="stylesheet" href="css/main.css">
  <title>Admin Dashboard</title>
</head>

<body>

  <%-include("../partials/adminHeader") %>
  <!-- Sol menü -->
  <div class="page-content">
    <div class="row">
      <div class="col-md-3">
        <%-include("../partials/adminNavBar") %>
      </div>
      <div class="col-md-9">
        <h2>Duyurular ve Galeri Kontrolü </h2>
        <form action="/duyuru-galeri-ekle" method="post">
          <h4> Duyuru Bölümü</h4>
          <div class="form-group">
            <label> Duyuru Yapılmasını İstediğiniz mesajı Buraya Yazınız</label>
            <input type="text" name="duyuru_1" class="form-control" placeholder="Mesajınız kısa olmalı duyuru için önemlidir!">
            <br>
            <input type="text" name="duyuru_2" class="form-control" placeholder="2. Duyuru bölümü">
          </div>
          <button id="admin-duyuru-button" type="submit" class="btn btn-danger"> Duyuru Yap </button>
        </form>
        <!-- Galeri fotograf ekleme formu -->
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/galeri-ekle" method="post" enctype="multipart/form-data">
          <h4> Galeri Bölümü</h4>
          <div class="form-group">
            <label> Galerinize Buradan istediğiniz Fotoğrafları Ekleyebilirsiniz!</label><br>
            <span>Gözat</span>
            <input type="file" name="myImage" accept=".jpg,.png" class="form-control" multiple>
          </div>
          <button id="admin-image-add-button" type="submit" class="btn btn-danger"> Galeriye Ekle </button>
        </form>


      </div>

    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="bootstrap/js/jquery.min.js" charset="utf-8"></script>
<script src="bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<script src="js/main.js" charset="utf-8"></script>
<script src="js/admin/galeriekle.js" charset="utf-8"></script>

<script>





</script>

</html>