<div class="sidebar context-box" style="display:block">
  <nav class="navbar bg-light">
    <h4>Admin Yönetimi</h4>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/adminDashboard">Tüm Randevuları Görüntüle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sikayet-oneri">Şikayet ve Önerileri Görüntüle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/iletisimGuncelle">İletişim Bilgilerini Güncelle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/SifreDegistir">Şifre Değiştir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/duyuru-galeri-ekle">Duyuru & Foto ekle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin-uye-goruntule">Admin Üye Görüntüleme</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/admin-reklam-yonetim">Admin Reklam Yönetim</a>
        </li>
    </ul>
  </nav>
</div>