<!-- Footer -->
<footer class="page-footer font-small blue" >

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">ROCKET TAKIMI - 2019
    <p>Belaya hazır olun,Hem de 5li belaya!</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->