<html>
    <head>
            <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

            <!-- Ozel css dosyamız -->
            <link rel="stylesheet" href="css/main.css">
    </head>
    <%-include("partials/header") %>
<body>
   


    <%-include("partials/footer") %>
</body>

</html>