<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıtlı Randevular</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/muco.css"> <link rel="stylesheet" href="css/main.css">

</head>
<%-include("partials/header") %>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <form class="okan-form">
                            <div class="form-header">
                            <h2>ISITMALI SAHA DOLU SAATLER</h2>
                            <p>Aralık Ayı İçin Geçerli Tarih ve Saatler Gösterilmektedir.</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>PAZARTESİ</th>
                                        <th>SALI</th>
                                        <th>ÇARŞAMBA</th>
                                        <th>PERŞEMBE</th>
                                        <th>CUMA</th>
                                        <th>CUMARTESİ</th>
                                        <th>PAZAR</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                         <td>1
                                             <ul>
                                                 <li>18.00 </li>
                                                 <li>19.00 </li>
                                                 <li>20.00 </li>
                                                 <li>21.00</li>
                                                 <li>22.00 </li>
                                                 <li>23.00 </li>
                                                 <li>24.00 </li>
                                             </ul>
                                         </td>
                                         <td>2
                                                <ul>
                                                    <li>18.00 </li>
                                                    <li>19.00 </li>
                                                    <li>20.00 </li>
                                                    <li>21.00</li>
                                                    <li>23.00 </li>
                                                    <li>24.00 </li>
                                                    </ul>
                                         </td>
                                         <td>3
                                                <ul>
                                                    <li>18.00 </li>
                                                    <li>19.00 </li>
                                                    <li>20.00 </li>
                                                    <li>21.00</li>
                                                    <li>22.00 </li>
                                                    </ul>
                                         </td>
                                         <td>4
                                                <ul> <li>18.00 </li>
                                                    <li>20.00 </li>
                                                    <li>21.00</li>
                                                    <li>22.00 </li>
                                                    <li>23.00 </li>
                                                    <li>24.00 </li>
                                                    </ul>
                                         </td>
                                         <td>5
                                                <ul>
                                                    <li>19.00 </li>
                                                    <li>20.00 </li>
                                                    <li>22.00 </li>
                                                    <li>23.00 </li>
                                                    </ul>
                                         </td>
                                         <td>6
                                                <ul> <li>18.00 </li>
                                                    <li>19.00 </li>
                                                    <li>20.00 </li>
                                                    <li>21.00</li>
                                                    <li>22.00 </li>
                                                    <li>23.00 </li>
                                                    <li>24.00 </li>
                                                    </ul>
                                         </td>
                                         <td>7
                                                <ul>
                                                    <li>18.00 </li>
                                                    <li>19.00 </li>
                                                    <li>20.00 </li>
                                                    <li>21.00</li>
                                                    </ul>
                                         </td>
                                    </tr>
                                    <tr>
                                            <td>8
                                                    <ul> <li>18.00 </li>
                                                        <li>19.00 </li>
                                                        <li>21.00</li>
                                                        <li>22.00 </li>
                                                        <li>24.00 </li>
                                                        </ul>
                                            </td>
                                            <td>9
                                                    <ul>
                                                        <li>19.00 </li>
                                                        <li>20.00 </li>
                                                        <li>22.00 </li>
                                                        <li>23.00 </li>
                                                        <li>24.00 </li>
                                                        </ul>
                                            </td>
                                            <td>10
                                                    <ul> <li>18.00 </li>
                                                        <li>19.00 </li>
                                                        <li>20.00 </li>
                                                        <li>21.00</li>
                                                        <li>22.00 </li>
                                                        <li>23.00 </li>
                                                        <li>24.00 </li>
                                                        </ul>
                                            </td>
                                            <td>11 <ul>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                </ul></td>
                                            <td>12 <ul>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>13 <ul>
                                                <li>19.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>14 <ul>
                                                <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                       </tr>
                                       <tr>
                                            <td>15
                                                    <ul> <li>18.00 </li>
                                                        <li>19.00 </li>
                                                        <li>20.00 </li>
                                                        <li>21.00</li>
                                                        <li>22.00 </li>
                                                        <li>23.00 </li>
                                                        <li>24.00 </li>
                                                        </ul>
                                                
                                            </td>
                                            <td>16 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>17 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>18 <ul>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>19 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>20 <ul> 
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                </ul></td>
                                            <td>21 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                </ul></td>
                                       </tr>
                                       <tr>
                                            <td>22 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>23 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>24 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>25 <ul>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>26 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>27 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>28 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                </ul></td>
                                       </tr>
                                       <tr>
                                            <td>29 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>30 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                            <td>31 <ul> <li>18.00 </li>
                                                <li>19.00 </li>
                                                <li>20.00 </li>
                                                <li>21.00</li>
                                                <li>22.00 </li>
                                                <li>23.00 </li>
                                                <li>24.00 </li>
                                                </ul></td>
                                       </tr>
                                        
                                   </tbody>
                                </table>
                                <br><br>
                    </form>
                    </div>
                </div>
            </div>
                </div>
            </div>
</body>
<%-include("partials/footer") %>

</html>